.main {
    text-align: center !important;
    justify-content: center !important;
    min-height: 100vh;
    position: relative;
    display: flex !important;
    background-color: rgb(236, 221, 221);
    background: url(https://demos.wrappixel.com/premium-admin-templates/bootstrap/xtreme-bootstrap/package/assets/images/big/auth-bg.jpg) no-repeat center center;

    .sub_main {
        max-width: 450px;
        width: 90%;
        box-shadow: 11px 12px 13px 11px #100f0f;
        padding: 15px;
        background-color: white;
        margin: auto;
        box-sizing: border-box;
        
        .font{
            color: #958282;
            font-style: italic;
        }
        & .logo{
            width: 35px;
            height: auto;
        }
    }
}

.form {
    .input_form {
        margin: 15px 0px 5px 0px;

        input {
            width: 95%;
            height: 45px;
            margin-bottom: 1rem !important;
            box-sizing: border-box;
            border: 1px solid #d5c8c8;
            border-radius: 5px;
            padding-left: 10px;
        }
    }

}

.btn {
    width: 90%;
    height: 42px;
    background-color: #7bbf2c;
    border-radius: 25px;
    color: white;
    font-weight: inherit;
    font-size: larger;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid #62bb66;
}