.auth {
  text-align: center !important;
  justify-content: center !important;
  min-height: 100vh;
  position: relative;
  display: flex !important;
  background-color: rgb(236, 221, 221); 
  background: url(https://demos.wrappixel.com/premium-admin-templates/bootstrap/xtreme-bootstrap/package/assets/images/big/auth-bg.jpg) no-repeat center center;
    
  & .logo{
    width: 35px;
    height: auto;
}
}


.wrap {
  max-width: 500px;
  width: 90%;
  box-shadow: 11px 12px 13px 11px #100f0f;
  padding: 15px;
  background-color: white;
  margin: auto;
  box-sizing: border-box;
}

.mb_3 {
  margin-bottom: 1rem !important;
}

h5 {
  margin-top: 0;
}

.inp {
  margin: 15px 0px 0px 0px;
  width: 95%;
  box-sizing: border-box;
  padding-left: 10px;
  font-weight: 400;
  color: #3e5569;
  background-color: #fff;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  height: 45px;
}

.btn {
  width: 90%;
  height: 42px;
  margin: 0px 10px 0px 10px;
  background-color: lightpink;
  border-radius: 6px;
  border: aliceblue;
  color: #c94e4e;
  font-size: larger;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid lightcoral;
  font-weight: inherit;
}

.this {
  margin-top: 1rem !important;
}

.this_input {
  text-decoration: none;
  color: black;
}
.font{
  color: #958282;
  font-style: italic;
}